.keyword {
    -fx-fill: #0033B3;
    -fx-font-weight: bold;
}
.builtin {
    -fx-fill: #7A3E9D;
}
.string {
    -fx-fill: #067D17;
}
.comment {
    -fx-fill: #808080;
    -fx-font-style: italic;
}
.number {
    -fx-fill: #1750EB;
}
.decorator {
    -fx-fill: #808000;
}
.method {
    -fx-fill: #ff5fdc;
}
.code-area {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}
.code-area .text {
    -fx-font-family: "Consolas", "Courier New", monospace;
    -fx-font-size: 14px;
}
.lineno {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #666;
    -fx-padding: 0 5px;
}


.p-block-rect.active-block:hover {
    -fx-stroke: black;
    -fx-stroke-width: 1.5;
}


.output-container {
    -fx-background-color: #f0f0f0;
}


.text-area.output-terminal {
    -fx-control-inner-background: white;
    -fx-text-fill: black;
    -fx-font-family: "Consolas", "Courier New", monospace;
    -fx-font-size: 13px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
}


.text-area.output-terminal .content {
    -fx-background-color: -fx-control-inner-background;
}




.text-area.output-terminal .scroll-bar:vertical,
.scroll-pane .scroll-bar:vertical,
.text-area.output-terminal .scroll-bar:horizontal,
.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #e0e0e0;
    -fx-padding: 2px;
}


.text-area.output-terminal .scroll-bar:vertical,
.scroll-pane .scroll-bar:vertical {
    -fx-pref-width: 16px;
}


.text-area.output-terminal .scroll-bar:horizontal,
.scroll-pane .scroll-bar:horizontal {
    -fx-pref-height: 16px;
}


.text-area.output-terminal .scroll-bar .thumb,
.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #aaaaaa;
    -fx-background-insets: 0;
    -fx-background-radius: 0.7em;
}


.text-area.output-terminal .scroll-bar:vertical .track,
.scroll-pane .scroll-bar:vertical .track {
     -fx-background-color: transparent;
     -fx-border-color: transparent;
     -fx-background-radius: 0.7em;
     -fx-border-radius: 0.7em;
}


.text-area.output-terminal .scroll-bar:horizontal .track,
.scroll-pane .scroll-bar:horizontal .track {
      -fx-background-color: transparent;
      -fx-border-color: transparent;
      -fx-background-radius: 0.7em;
      -fx-border-radius: 0.7em;
}


.text-area.output-terminal .scroll-bar .increment-button,
.text-area.output-terminal .scroll-bar .decrement-button,
.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}


.text-area.output-terminal .scroll-bar .increment-arrow,
.text-area.output-terminal .scroll-bar .decrement-arrow,
.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}
